    <!-- Pocetna slika  -->
      <section class="home-section home-parallax home-fade home-full-height bg-dark-30" id="home" data-background="https://images.unsplash.com/photo-1575505586569-646b2ca898fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1505&q=80">
        <div class="titan-caption">
          <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Адвокатсто друштво</div>
            <div class="font-alt mb-40 titan-title-size-4">Ние сме Валерис</div><a class="section-scroll btn btn-border-w btn-round hvr-ripple-out" href="#about">Дополнитено</a>
          </div>
        </div>
      </section>
      <!-- Pocetna slika END -->