<!-- Meet Our Team  -->
        <hr class="divider-w">
        <section class="module" id="team">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Нашиот тим</h2>
                <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
              </div>
            </div>
            <div class="row justify-content-md-center">

              <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-6 col-lg-3"  >
                <div class="team-item">
                  <div class="team-image"><img src="/images/team-3.jpg" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Valentina Ristomanova</h5>
                      <p class="font-serif">valeris@gmail.com</p>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Valentina Ristomanova</div>
                    <div class="team-role">Lawyer</div>
                  </div>
                </div>
              </div>
              <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-6 col-lg-3" >
                <div class="team-item">
                  <div class="team-image"><img src="/images/team-4.jpg" alt="Member Photo"/>
                    <div class="team-detail">
                      <h5 class="font-alt">Metodij Ristomanov</h5>
                      <p class="font-serif">meto.ristomanov@gmail.com</p>
                      <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                    </div>
                  </div>
                  <div class="team-descr font-alt">
                    <div class="team-name">Metodij Ristomanov</div>
                    <div class="team-role">Lawyer</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Meet Our Team  -->